body {
	background-color: #ffffff;
}

.test_svg {
	cursor: pointer;
}

/*****************************************************************************/
/* B I R D */
/*****************************************************************************/
.st3{fill:#60B6EA;}
.st6{fill:#24273B;}
.st11{fill-rule:evenodd;clip-rule:evenodd;fill:#C2E5FE;}
.st14{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
.st53{fill-rule:evenodd;clip-rule:evenodd;fill:#EAEAEA;}
/*****************************************************************************/
/* / B I R D */
/*****************************************************************************/
