body {
	background-color: #ffffff;
}

.test_svg {
	cursor: pointer;
}

h1 {
	font-family: Tahoma;
	font-size: 24px;
	font-weight: 200;
	color: #353535;
	margin-top: 130px;
	padding: 150px; 
}
